:root {
  --hover-purple: #f1f5ff;
  --active-purple: #4154f1;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 680px;
  max-width: 100%;
  color: var(--font-color);
}

.dark {
  --background-color: #212121;
  --font-color: #fff;
}

.light {
  --background-color: #fff;
  --font-color: #212121;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.align-center {
  text-align: center;
}

.navbar {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 10%;
  -webkit-box-shadow: 15px 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 15px 0 20px rgba(0, 0, 0, 0.5);
  height: clamp(75px, 75px, 100px);
  z-index: 9999;
}

.side-nav {
  background-color: var(--background-color);
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: clamp(250px, 15vw, 25vw);
  position: fixed;
  z-index: 9998;
  padding: 75px 0 0 0;
}

.side-nav .sn-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  font-size: 1.75em;
  padding-bottom: 50px;
  font-weight: bold;
}

.side-nav .sn-items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav .sn-items ul {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  list-style: none;
  white-space: nowrap;
}

.side-nav .sn-items ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.side-nav .sn-items ul li:nth-last-child(1) {
  margin: 0;
}

.side-nav .sn-items ul li a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 200px;
  display: block;
  border-radius: 5px;
  padding: 0.3em;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--font-color);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.side-nav .sn-items ul li a:hover {
  color: var(--active-purple);
  background-color: var(--hover-purple);
}

.scale-container {
  padding: clamp(75px, 75px, 100px) 0 0 clamp(250px, 15vw, 25vw);
  width: 100%;
}

.scale-container .content {
  width: 100%;
  position: relative;
  right: 0;
  height: 2000px;
  padding: 5%;
  background-color: var(--background-color);
}

footer {
  padding-left: clamp(250px, 15vw, 25vw);
}
/*# sourceMappingURL=style.css.map */