// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------
// BIENVENUE SUR LA FEUILLE SCSS DU GROUPE DE MATHIS ET ALAN -----------------------------
// CE REPOSITORY EST LA PROPRIÉTÉ INTELLECTUELLE DE MATHIS LAMBERT \/ ------------------
// CODE OPEN SOURCE SUR GITHUB -https://github.com/ML-Design-web/bddgestion/tree/main/SAE-
// MMI TOULON - BUT 1ere ANNEE - UNIVERSITE DE TOULON - COPYRIGHT ------------------------
// DEVELOPPÉ DANS LE CADRE D'UN PROJET DE SAE A LA DEMANDE DU DÉPARTEMENT MMI DE TOULON --
// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------
// ----------------------------------S O M M A I R E--------------------------------------
// --------LIGNE 43 : reset --------------------------------------------------------------

// --------LIGNE 54 : presets généraux ---------------------------------------------------

// --------LIGNE 239 : nom prédéfinis de classes -----------------------------------------

// --------LIGNE 311 : scale container ---------------------------------------------------

// --------LIGNE 317 : Side navbar -------------------------------------------------------

// --------LIGNE 477 : Style des card ----------------------------------------------------

// --------LIGNE 508 : control boxes -----------------------------------------------------

// --------LIGNE 643 : container des tableaux --------------------------------------------

// --------LIGNE 671 : menu d'édition / add, edit, delete --------------------------------

// --------LIGNE 719 : partie modal ------------------------------------------------------

// --------LIGNE 824 : formulaire de réservation -----------------------------------------

// --------LIGNE 884 : Footer ------------------------------------------------------------

// --------LIGNE 895 : @MEDIA-QUERIES ----------------------------------------------------
// ------------------------------F I N  S O M M A I R E-----------------------------------
// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------

/* RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
}
//--------------------------------------------------------------------------------//

/* MAIN PRESET */
html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  color: white;
  background-color: rgb(51, 51, 51);
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: color 300ms ease-in-out;
  z-index: -1;
  overflow-x: hidden;
  /* width */
  &::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #00000000;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
    border: 2px solid rgb(51, 51, 51);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

button {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 250ms ease-in-out;
  a {
    padding: 0.75rem 1.25rem;
    display: block;
    color: white;
    text-decoration: none;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.3);
    a {
      color: black;
    }
  }
}
form {
  gap: 10px;
  input {
    background-color: rgba($color: #000000, $alpha: 0.35);
    border: 1px solid white;
    color: var(--font-color);
    border-radius: 15px;
    padding: 0.5em 1em;
    font-size: 1.15rem;
    &:focus {
      outline: 1px solid white;
    }
    &:read-only {
      color: #9c9c9c;
      border: 1px solid #9c9c9c;
    }
  }
  input[type="submit"] {
    width: fit-content;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 250ms ease-in-out;
    color: white;
    padding: 0.75rem 1.25rem;
    line-height: 1rem;
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
      border: none;
      box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.3);
      color: black;
    }
  }
}
.id-false {
  background-color: brown;
  color: white;
  padding: 0.4em 1em;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
}

.table-container {
  overflow-x: auto;
  flex: 1 0 280px;
  width: auto;
  margin-inline: auto;
  &::-webkit-scrollbar {
    width: 3px;
    height: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    border-radius: 25px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
  }
  table {
    border-collapse: collapse;
    border: none;
    color: var(--font-color);
    max-width: 100%;
    font-size: 0.85em;
    white-space: nowrap;

    th {
      background-color: rgba(0, 255, 213, 0.651);
      color: white;
      text-align: left;
      padding: 10px;
      border: none;

      font-size: 0.85rem;
    }
    tr {
      &:nth-child(even) {
        background-color: #c9c9c93a;
        backdrop-filter: blur(10px);
      }
      border: none;
    }
    td {
      padding: 10px;
      border: none;
      font-size: 0.9rem;
    }
  }
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #4694dd;
}
.bd-green {
  outline: 2px solid rgb(0, 255, 170) !important;
  -moz-outline-radius: 25px;
}
.bd-red {
  outline: 1px solid red !important;
}
//--------------------------------------------------------------------------------//

/* ### MAIN CLASS NAMES ### */
.container {
  margin: 0 auto;
  max-width: 100%;
  min-height: fit-content;
  padding: 5%;
  transition: background-color 300ms ease-in-out;
  position: relative;
}
.d-flex {
  display: flex;
}
.row {
  flex-direction: row;
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.sp-50 {
  height: 50px;
  width: 100%;
  background: none;
}
.sp-100 {
  height: 100px;
  width: 100%;
  background: none;
}
.sp-150 {
  height: 150px;
  width: 100%;
  background: none;
}
.text-center {
  text-align: center;
}
.col-4 {
  width: clamp(200px, calc(100% / 3), 400px);
}
.no-wrap {
  flex-wrap: nowrap !important;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.column {
  flex-direction: column;
}
.m-auto {
  margin: 0 auto;
}
.p-1 {
  padding: 1.5rem;
}
.pb-1 {
  padding-bottom: 1.5rem;
}
.center {
  display: grid;
  place-items: center;
}
.hide {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.space-between {
  justify-content: space-between;
}
.pi-5 {
  padding-inline: 5em;
}
.gap {
  height: 25px;
}

//--------------------------------------------------------------------------------//

.scale-container {
  min-height: 100vh;
  height: fit-content;
  padding-left: 100px;
}

/* ---- NAVIGATION ---- side navbar presets */
.side-nav {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  position: fixed;
  height: 100vh;
  padding: 2em 0 2em 0;
  z-index: 9999;
  transition: none;

  .sn-title {
    margin-inline: auto;
    font-size: 1.2em;
    font-weight: bold;
    margin-block-end: 2em;
  }
  span.collapsed {
    display: none;
  }
  .sn-items {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 100px;
    &::-webkit-scrollbar {
      width: 3px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.6);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 25px;
      border: none;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    ul {
      li {
        .a-tab {
          flex-direction: column;
          align-items: center;
          svg {
            fill: white;
            width: 30%;
            height: 30%;
            visibility: visible;
          }
        }
        a {
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          color: white;
          text-decoration: none;
          padding-block: 1rem;
          font-size: 0.8rem;
          text-align: center;

          &:hover,
          &.active,
          &[aria-selected="true"] {
            &::before {
              content: "";
              position: absolute;
              height: 60%;
              width: 4px;
              left: 0;
              background-color: white;
              border-bottom-right-radius: 25px;
              border-top-right-radius: 25px;
              top: 50%;
              transform: translateY(-50%);
              animation: enter-before 300ms ease-in-out;
            }
            &::after {
              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              left: 0;
              background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0.35) 0%,
                rgba(255, 255, 255, 0) 62%
              );
              top: 0;
              animation: enter-after 300ms ease-in-out;
            }
          }
          @keyframes enter-before {
            from {
              left: -10px;
            }
            to {
              left: 0;
            }
          }
          @keyframes enter-after {
            from {
              left: -100%;
            }
            to {
              left: 0;
            }
          }
        }
      }
    }
  }
  .session-info {
    position: absolute;
    bottom: 0;
    padding: 0.5em;
    width: 100%;
    .session-card {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      flex-grow: 1;
      .profil-card {
        cursor: pointer;
      }
      > div {
        max-width: 80px;
      }
      .content {
        font-size: 0.75em;
        text-align: center;
        width: 100%;
        height: fit-content;
        background-color: rgb(28, 139, 112);
        border-radius: 10px;
        padding: 0.5em;
      }
      .logout-button {
        background-color: rgb(223, 46, 46);
        border-radius: 10px;
        a {
          color: white;
          display: block;
          width: 100%;
          height: 100%;
          padding: 0.5em;
        }
      }
    }
  }
}
// --------------- END OF SIDENAVBAR PART -------------------

// #############   CARD STYLE     #############
.card {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  height: auto;
  min-width: 400px;
  width: fit-content;
  max-width: 900px;
  padding: 2.5rem;
  margin-inline: auto;
  flex: 1 1 auto;

  .inscription-card {
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1em;
    row-gap: 1.9rem;
    column-gap: 1rem;
    .input-box {
      flex: 1 1 45%;
      max-width: 50%;
    }
    input {
      width: 100%;
    }
  }
}
// ##########  END OF CARD STYLE  #########

// ```````` CONTROL CARD CONTAINER ````````
.control-container {
  gap: 25px;
  .control-box {
    flex: 1 1 400px;
    height: 350px;
    padding: 1.5em;
    border-radius: 25px;
    background: rgba($color: #000000, $alpha: 0.25);
    outline: 1px solid rgba($color: #00b7ff, $alpha: 0.75);
    transition: box-shadow 100ms ease-in-out, color 200ms ease-in-out,
      background 300ms ease-in-out, all 200ms ease-in-out;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;

    &:hover {
      box-shadow: 10px 10px 25px rgba($color: #000000, $alpha: 0.1);
      color: white;
      background: transparent;
      flex-grow: 2;
      backdrop-filter: blur(30px);
    }

    .control-box-content {
      // #### Card design - with hover effect and all placement settings
      ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        list-style: none;
        li {
          line-height: 3em;
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            svg,
            img {
              width: 200%;
              aspect-ratio: 1/1;
              fill: white;
            }
          }
          &:nth-child(2) {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1em;
            text-align: center;
            padding-block: 0.75em;
          }
          &:nth-child(3) {
            font-size: 0.5em;
            width: 250px;
            text-align: center;
            line-height: inherit;
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .overview-box {
    flex: 1 1 400px;
    height: 150px;
    padding: 1.5em;
    border-radius: 25px;
    background: rgba($color: #000000, $alpha: 0.25);
    outline: 1px solid rgba($color: #000000, $alpha: 0.25);
    transition: box-shadow 100ms ease-in-out, color 200ms ease-in-out,
      background 300ms ease-in-out, all 200ms ease-in-out;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;

    &:hover {
      box-shadow: 10px 10px 25px rgba($color: #000000, $alpha: 0.1);
      color: white;
      background: transparent;
      flex-grow: 1.1;
      backdrop-filter: blur(30px);
    }

    .overview-box-content {
      // #### Card design - with hover effect and all placement settings
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        list-style: none;
        column-gap: 22.5px;
        li {
          line-height: 3em;
          &:first-child {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1em;
            text-align: center;
            padding-block: 0.75em;
            min-width: 35%;
          }
          &:nth-child(2) {
            font-size: 0.6em;
            /* max-width: 50%; */
            flex-grow: 1;
            text-align: center;
            line-height: inherit;
          }
          p {
            transition: none;
          }
        }
      }
    }
    > li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      white-space: nowrap;
    }
  }
}
// ```````` END OF CONTROL CARD CONTAINER ````````

// \\\\\\\\-----  TABLE CONTAINER VIEW  ------////////
.table-view {
  border-radius: 25px;
  background: rgba($color: #000000, $alpha: 0.25);
  outline: 1px solid rgba($color: #000000, $alpha: 0.25);
  font-size: 1.5em;
  padding: 1.5em;
  height: auto;
  width: 80vw;
  /* Track */
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
    border: none;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
// \\\\\\\\----- END OF TABLE CONTAINER VIEW  ------////////

// ------- EDIT MENU ---------
.edit-menu {
  height: 60px;
  width: fit-content;

  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-20%);

  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 1em;

  border-radius: 50px;
  background-color: rgba($color: #ffffff, $alpha: 0.15);
  padding: 5px;
  box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.25);
  z-index: 99999;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    border-radius: 50px;
    aspect-ratio: 1/1;
    height: 50px;
    line-height: 0.5em;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    background: rgba($color: #000000, $alpha: 0.3);
    box-shadow: inset 0 0 10px 10px rgba($color: #000000, $alpha: 0.25);
    &:hover {
      outline: solid 1px rgba(255, 255, 255, 0.445);
      box-shadow: none;
      background: rgba($color: #535353, $alpha: 0.3);
    }
    svg {
      color: white;
    }
  }
}
// ------- END OF EDIT MENU ---------

// ###### PARTIE MODAL ######
.active {
  &.modal {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.modal {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.15);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 100ms ease-in-out, opacity 0.2s ease-in-out;
  .bg-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    cursor: pointer;
  }
  .add-box,
  .edit-box,
  .delete-box,
  .cotis-box {
    height: auto;
    width: auto;
    min-width: 300px;
    color: #f1f5ff;
    background-color: #333333;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 2em;
  }
}
.modal-form {
  flex-flow: row wrap;
  justify-content: space-between;
  /* padding: 1em; */
  margin-top: 1.7em;
  row-gap: 1.9rem;
  column-gap: 1rem;
}
input,
select {
  width: 100%;
  padding: 0.7em 1em;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px white;
  color: white;
  border-radius: 0;
  &::placeholder {
    color: #7c7c7c;
    font-size: 1.1rem;
  }
  &:focus {
    border: solid 1px rgb(0, 153, 255);
    outline: none;
    border-radius: 10px;
  }
  option {
    color: #000000;
  }
  &:disabled {
    color: #bebebe;
  }
}
input[type="submit"],
button[type="submit"] {
  margin: 0 auto;
  display: block;
}
.input-box {
  position: relative;
  flex: 1 1 48%;
  label {
    position: absolute;
    left: 0;
    top: -25px;
    color: rgb(0, 255, 179);
    font-size: 1rem;
  }
}
.id-false {
  background-color: brown;
  color: white;
  padding: 0.4em 1em;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
}

// ##### PAGE DE PROFIL ######
#profil-pic {
  aspect-ratio: 1/1;
  height: 100px;
  background-color: #53535383;
  outline: 2px white solid;
  border-radius: 50%;
  background-image: url(../svg/adherent.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

/* [[[[[ FORMULAIRE DE RESERVATION ]]]]] */
.resa-form {
  width: fit-content;
  max-width: 500px;
  background-color: rgba($color: #000000, $alpha: 0.25);
  box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.15);
  padding: 2em 4em;
  border-radius: 25px;
  margin: 1em;
  font-size: 0.7em;
  color: white;
  row-gap: 2.5em;
  padding-top: 4em;
  input,
  select {
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1.3em;
    border-radius: 0;
    &[type="submit"] {
      display: block;
      margin: 0 auto;
      margin-top: 1.5em;
    }
    option {
      color: black;
    }
  }
}
.error-message {
  text-align: center;
  background-color: rgba($color: #ffffff, $alpha: 0.65);
  color: rgb(173, 50, 50);
  padding: 1em 2rem;
  border-radius: 25px;
  margin: 0.75em auto;
}
.good-message {
  text-align: center;
  background-color: rgba($color: #ffffff, $alpha: 0.85);
  color: rgb(50, 173, 66);
  padding: 1em 2rem;
  border-radius: 25px;
  margin: 0.75em auto;
}
.cot-title {
  max-width: 75%;
  white-space: nowrap;
  justify-content: space-between;
  button {
    display: block;
    color: white;
    padding: 0.75em 1.25em;
  }
}
//--------------------------------------------------------------------------------//

/* ((( FOOTER ))) */
footer {
  padding-left: 100px;
  height: 100px;

  .footer-content {
    margin: 25px auto;
  }
}
//--------------------------------------------------------------------------------//

// """""" SMALL SCREEN """"""""
.small-screen {
  position: fixed;
  z-index: 999999;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 100%;
  padding: 4rem;
  width: 100%;
  top: 0;
  display: none;
}
@media (max-width: 350px) {
  .small-screen {
    display: block;
  }
  body {
    overflow: hidden;
  }
}
@media screen and (max-width: 600px) {
  .resa-form {
    align-items: center;
    width: fit-content;
    padding: 1.5em 2em;
    padding-top: 3.5em;
    border-radius: 25px;
    margin: 1em;
    font-size: 0.7em;
    color: white;
    input,
    select {
      font-size: 0.85em;
      min-width: 165px;
    }
  }
  .control-container .overview-box {
    padding: 0.75em;
    .overview-box-content ul {
      flex-direction: column;
      li:first-child {
        font-size: 1.25rem;
        padding-bottom: 0.75em;
        padding-top: 0;
      }
      li:last-child {
        font-size: 0.85rem;
      }
    }
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 0.85rem;
  }
  .sn-title {
    span.full-size {
      display: none;
    }
    span.collapsed {
      display: block;
    }
  }
  .session-card {
    > div {
      max-width: 20px;
    }
    .content {
      padding: 0.3em !important;
      span {
        display: none;
      }
    }
    .logout-button {
      a {
        padding: 0.3em !important;
      }
    }
  }
  .scale-container {
    padding-left: 50px;
  }
  .side-nav {
    width: 50px;
    .sn-items {
      ul {
        li {
          .a-tab {
            svg {
              width: 25px;
            }
          }
          a {
            font-size: 0;
          }
        }
      }
    }
  }
  footer {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1130px) {
  .pi-5 {
    padding-inline: 0;
  }
  .control-container {
    .control-box {
      flex: 1 1 100px;
      height: 250px;
    }
    .overview-box {
      flex: 1 1 150px;
      font-size: 0.9rem;
    }
  }
}
