/* ### DECLARATION DES VARIABLES ### */
:root {
  --hover-purple: #c6d6ff;
  --active-purple: #4154f1;
}
//--------------------------------------------------------------------------------//
//--------------------------------------------------------------------------------//
//--------------------------------------------------------------------------------//
//--------------------------------------------------------------------------------//

/* RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//--------------------------------------------------------------------------------//

/* MAIN PRESET */
html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 680px;
  max-width: 100%;
  color: var(--font-color);
  background-color: var(--background-color);
  transition: color 300ms ease-in-out;
  overflow-x: hidden;
}
//--------------------------------------------------------------------------------//

/* ||| DARK MODE AND LIGHT MODE ||| */
.white {
  --background-color: #fff;
  --font-color: #212121;
  --low-purple: #f1f5ff;
}
.dark {
  --background-color: #212121;
  --font-color: #fff;
  --low-purple: #f1f5ff2f;
}

//--------------------------------------------------------------------------------//

/* ### BOOTSTRAP CLASSES NAMES ### */
.container {
  margin: 0 auto;
  max-width: 100%;
  min-height: fit-content;
  padding: 5%;
  transition: background-color 300ms ease-in-out;
  position: relative;
}
.d-flex {
  display: flex;
}
.row {
  flex-direction: row;
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.sp-50 {
  height: 50px;
  width: 100%;
  background: none;
}
.sp-100 {
  height: 100px;
  width: 100%;
  background: none;
}
.sp-150 {
  height: 150px;
  width: 100%;
  background: none;
}
.text-center {
  text-align: center;
}
.col-4 {
  width: clamp(200px, calc(100% / 3), 400px);
}
.no-wrap {
  flex-wrap: nowrap !important;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.column {
  flex-direction: column;
}
//--------------------------------------------------------------------------------//

/* ---- NAVIGATION ---- top navbar presets */
.navbar {
  background-color: var(--background-color);

  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 10%;
  box-shadow: 15px 0 20px rgba($color: #000000, $alpha: 0.25);
  height: clamp(75px, 75px, 100px);
  z-index: 9999;
  transition: background-color 300ms ease-in-out;

  img#night-mode {
    height: 1em;
    position: relative;
    top: 0.2em;
    cursor: pointer;
  }
}
//--------------------------------------------------------------------------------//

/* ---- NAVIGATION ---- side navbar presets */
.side-nav {
  background-color: var(--background-color);
  transition: background-color 300ms ease-in-out;
  box-shadow: 0 15px 20px rgba($color: #000000, $alpha: 0.25);
  height: 100vh;
  width: clamp(275px, 15vw, 25vw);
  position: fixed;
  z-index: 9998;
  padding: 75px 0 0 0;

  .sn-title {
    justify-content: center;
    padding-top: 50px;
    font-size: 1.75em;
    padding-bottom: 50px;
    font-weight: bold;
  }

  .sn-items {
    justify-content: center;
    flex-direction: column;
    ul {
      display: block;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      list-style: none;
      white-space: nowrap;

      li {
        flex: 1;
        margin-bottom: 20px;
        display: block;

        &:nth-last-child(1) {
          margin: 0;
        }

        a {
          min-width: 250px;
          display: block;
          border-radius: 5px;
          padding: 0.3em 0.75em;
          font-size: 1.2em;
          text-decoration: none;
          color: var(--font-color);
          transition: all 150ms ease-in-out;

          &:hover {
            color: var(--active-purple);
            background: var(--hover-purple);
          }
          &.active {
            color: var(--active-purple);
            background: var(--hover-purple);
          }
          .a-tab {
            column-gap: 20px;
          }
        }
      }
    }
  }
  .logout-button {
    position: absolute;
    bottom: 2em;
    justify-content: center;
    width: 100%;
    a {
      width: 250px;
      display: block;
      border-radius: 5px;
      padding: 0.3em;
      font-size: 1.2em;
      text-decoration: none;
      color: white;
      background-color: rgb(240, 129, 129);
      text-align: center;
      transition: background-color 200ms ease-in-out;
      &:hover {
        color: rgb(255, 255, 255);
        background-color: brown;
      }
    }
  }
  .session-info {
    position: absolute;
    bottom: 5em;
    justify-content: center;
    width: 100%;
    .session-card {
      width: 250px;
      display: block;
      border-radius: 5px;
      padding: 0.3em;
      font-size: 1.2em;
      text-decoration: none;
      color: white;
      background-color: #acbbec;
      text-align: center;
      transition: background-color 200ms ease-in-out;
      img {
        max-width: 100%;
        height: auto;
      }
      span {
        line-height: 1em;
      }
    }
  }
}

//--------------------------------------------------------------------------------//

.table-container {
  overflow-x: auto;
  table {
    border-collapse: collapse;
    border: none;
    color: var(--font-color);
    max-width: 100%;
    font-size: 0.85em;
    white-space: nowrap;

    th {
      background-color: rgb(75, 75, 155);
      color: white;
      text-align: left;
      padding: 10px;
      border: none;

      font-size: 0.85rem;
    }
    tr {
      &:nth-child(even) {
        background-color: #c9c9c985;
      }
      border: none;
    }
    td {
      padding: 10px;
      border: none;
      font-size: 0.9rem;
    }
  }
}

/* ##### CONTENT PART WITH ALL SETTINGS ##### */
.scale-container {
  //container pour préserver un champ contenu à l'interieur des 2 menus de navigation
  padding: clamp(75px, 75px, 100px) 0 0 clamp(275px, 15vw, 25vw);
  width: 100%;
  min-height: 100vh;

  .content {
    //div de contenu
    width: 100%;
    position: relative;
    right: 0;
    height: 2000px;
    background-color: transparent;
    transition: background-color 300ms ease-in-out;
  }

  .control-container {
    gap: 5%;
  }

  /* [[[ DYNAMIC CARDS DESIGN ]]] */
  .control-box {
    margin-bottom: 5%;
    flex: 1 1 300px;
    height: 350px;
    padding: 1.5em;
    border-radius: 25px;
    background: transparent;
    outline: 1px solid rgba($color: #000000, $alpha: 0.25);
    transition: box-shadow 100ms ease-in-out, color 200ms ease-in-out,
      background 300ms ease-in-out;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--font-color);

    &:hover {
      box-shadow: 10px 10px 25px rgba($color: #000000, $alpha: 0.1);
      border: 2px solid var(--active-purple);
      color: var(--active-purple);
      background: var(--low-purple);
    }

    .control-box-content {
      // #### Card design - with hover effect and all placement settings
      ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        list-style: none;
        li {
          line-height: 3em;
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            svg,
            img {
              width: 50px;
            }
          }
          &:nth-child(2) {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1em;
            text-align: center;
            padding-block: 0.75em;
          }
          &:nth-child(3) {
            font-size: 0.5em;
            width: 250px;
            text-align: center;
            line-height: inherit;
          }
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            white-space: nowrap;
          }
          button {
            padding: 5% 20%;
            background-color: var(--hover-purple);
            width: auto;
            border: 1px solid var(--active-purple);
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  // Carte de connexion
  .connect-card {
    background: var(--low-purple);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.15);

    form {
      gap: 10px;
      input {
        width: 75%;
        background-color: var(--background-color);
        border: 1px solid var(--active-purple);
        color: var(--font-color);
        border-radius: 15px;
        padding: 0.5em 1em;
      }
      button[type="submit"] {
        background: var(--active-purple);
        border: none;
        border-radius: 10px;
        color: var(--background-color);
        white-space: nowrap;
        width: max-content;
        padding: 0.3em 0.8em;
        justify-self: center;
      }
    }
  }

  // ------- EDIT MENU ---------

  .edit-menu {
    height: 50px;
    width: fit-content;

    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(50%);

    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1em;

    border-radius: 50px;
    background-color: var(--hover-purple);
    padding: 5px;
    box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.25);
    div {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      border-radius: 50px;
      height: 40px;
      width: 40px;
      line-height: 0.5em;
      border: none;
      cursor: pointer;
      transition: border 200ms ease-in-out;
      &:hover {
        border: solid 1px var(--active-purple);
      }
    }
  }

  // ###### PARTIE MODAL ######
  .add-modal,
  .edit-modal,
  .delete-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.15);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: visibility 100ms ease-in-out, opacity 0.2s ease-in-out;
    .bg-modal {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
    }
    .add-box,
    .edit-box,
    .delete-box {
      height: 500px;
      width: 500px;
      color: #f1f5ff;
      background-color: #212121;
      position: fixed;
      z-index: 10000;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;
      padding: 2em;
    }
  }
  .id-false {
    background-color: brown;
    color: white;
    padding: 0.4em 1em;
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto;
  }
}
//--------------------------------------------------------------------------------//

/* ((( FOOTER ))) */
footer {
  background-color: var(--background-color);
  padding-left: clamp(275px, 15vw, 25vw);
  height: 100px;

  .footer-content {
    margin: 25px auto;
  }
}
//--------------------------------------------------------------------------------//

.small-screen {
  position: absolute;
  z-index: 999999;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}
@media (max-width: 680px) {
  .small-screen {
    display: block;
  }
  body {
    overflow: hidden;
  }
}
